# Session 2 - Strings and list objects

# Strings

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

## Creating a String
In Python, either single quote (‘) or double quotes (“) must be used while creating a string.

    For example:

In [0]:
# Single word
'hello'

'hello'

In [0]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [0]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [0]:
# Be careful with quotes!
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-4-6565b0b7b5e3>, line 2)

In [0]:
"I'm using single quotes, but will create an error"               ## right usage of quotes

"I'm using single quotes, but will create an error"

The above code results in an error as the text “I’m” stops the string. Here, a combination of single quotes and double quotes can be used to get the complete statement.

In [0]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [0]:
""" he said "I'am hungry"."""

' he said "I\'am hungry".'

In [0]:
# tripple quotes are used as multi line comment ,/n it is the new line character 
""" he said                           
"Iam hungry"."""

' he said                           \n"Iam hungry".'

Now let's learn about printing strings!

## Printing a String

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.
 print stm will  try to print the data in your console

In [0]:
# We can simply declare a string
'Hello World'

'Hello World'

In [0]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3.

In [0]:
print 'Hello World 1'
print 'Hello World 2'
print 'Use \n to print a new line'
print '\n'
print 'See what I mean?'

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-8-30861e38aa5b>, line 1)

### <font color='red'>Python 3 Alert!</font>

Note that, In Python 3, print is a function and not a statement. So you would print statements like this:
print('Hello World')

If you want to use this functionality in Python2, you can import form the __future__ module. 

**Caution: After importing this; you won't be able to choose the print statement method anymore. So pick the right one whichever  you prefer depending on your Python installation and continue on with it.**

In [0]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print('Hello World')

Hello World

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [0]:
len('Hello World')           ## here len will count index 0 as 1 and will count the space too

11

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [ ] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [0]:
# Assign s as a string           ## here variable name is known as object
s = 'Hello World'

In [0]:
#Check
s

'Hello World'

In [0]:
# Print the object              ## use common brackets
print(s)

Hello World

Let's start indexing!

In [0]:
# Show first element (in this case a letter)
s[0]

'H'

In [0]:
s[1]

'e'

In [0]:
s[2]

'l'

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [0]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [0]:
s[1:len(s)]

'ello World'

In [0]:
# Note that there is no change to the original s
s

'Hello World'

In [0]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [0]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [0]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [0]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

Index and slice notation is used to grab elements of a sequenec by a specified step size (where in 1 is the default size). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [0]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [0]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [0]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [0]:
s

'Hello World'

In [0]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, replace the item in a string !, this is called immutability

we can assingn a new data to the same variable, but we cannot replace an element in the immutable data type

Something we can do is concatenate strings!

In [0]:
s

'Hello World'

In [0]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [0]:
## we need same data type to concatenate
"sudh"+1

TypeError: ignored

In [0]:
## we need same data type to concatenate
"sudh"+"12"

'sudh12'

In [0]:
## we need same data type to concatenate , to convert from one data type to another we call it as type casting
"sudh"+str(12)

'sudh12'

In [0]:
# We can reassign s completely though! (permanent change)
s = s + ' concatenate me!'

In [0]:
print(s)

Hello World concatenate me!

In [0]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [0]:
letter = 'z'

In [0]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

In Python, Objects have built-in methods which means these methods are functions present inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

Methods can be called with a period followed by the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments which are passed into the method. Right now, it is not necessary to make 100% sense but going forward we will create our own objects and functions. 

Here are some examples of built-in methods in strings:

In [0]:
s

'Hello World concatenate me!'

In [0]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [0]:
## here due to the new assignment it will refer to the new memory location and derefer from the old memory location.(permanent change)
# Upper Case a string
s= s.upper()

In [0]:
# Lower case
s.lower()

'hello world'

In [0]:
# Split a string by blank space (this is the default delimeter)
## split will convert the string into a list when we split based on a delimeter
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [0]:
# Split by a specific element (doesn't include the element that was split on)
s.split('O')

['HELL', ' W', 'RLD']

There are many more methods than the ones covered here. To know more about the String functions, Visit the advanced String section.

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements. 

Let's see an example to clearly understand the concept.

In [0]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

## Location and Counting

In [0]:
s.count('o')

3

In [0]:
s.find('o')

4

In [89]:
## to find data fron nested list
l=[1,2,3,["sara",3,4],4,5,6]
counter=l.count("sara")

#for i in l:
 # if type(i)==list:
  #  counter=counter+i.count("sara")
counter

0

In [90]:
## to find data fron nested list
l=[1,2,3,["sara",3,4],4,5,6]
counter=l.count("sara")

for i in l:
  if type(i)==list:
    counter=counter+i.count("sara")
counter

1

##Formatting
The center() method allows you to place your string 'centered' between a provided string with a certain length.

In [0]:
s.center(20,'z')

'Hello World concatenate me!'

expandtabs() will expand tab notations \t into spaces. Let's see an example to understand the concept.

In [0]:
'hello\thi'.expandtabs()

'hello   hi'

## is check methods
These various methods below check it the string is some case. Lets explore them:

In [0]:
s = 'hello'

isalnum() will return "True" if all characters in S are alphanumeric.

In [0]:
s.isalnum()

True

isalpha() wil return "True" if all characters in S are alphabetic.

In [0]:
s.isalpha()

True

islower() will return "True" if all cased characters in S are lowercase and there is
at least one cased character in S, False otherwise.

In [0]:
s.islower()

True

isspace() will return "True" if all characters in S are whitespace.

In [0]:
s=" "
s.isspace()      #### even if there is a single character with space it will return false

True

In [0]:
s="S "
s.isspace()      #### even if there is a single character with space it will return false

False

istitle() will return "True" if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [0]:
p = "Subh"
p.istitle()           ## only if there is a first char capitalised letter it will give true if not it will give false

True

In [0]:
p="sUBh"
p.istitle()

False

isupper() will return "True" if all cased characters in S are uppercase and there is
at least one cased character in S, False otherwise.

In [0]:
p="sUBH"
s.isupper()

True

Another method is endswith() which is essentially same as a boolean check on s[-1] or last index

**Strings methods and functions are case sensitive**

In [0]:
k="huddlE"
s.endswith('e')

False

In [87]:
## is alnum and is alpha is not opresent as attribute in googlecolab
l=[123,456,"kala","srikala"]
m=[]
n=[]
for i in l:
  if i.isalnum() == True:
    m.append(i)

  if i.isalpha() == True:
    n.append(i)
print(m)
print(n)

AttributeError: ignored

## Built-in Reg. Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
•	Split() function is used to split the string at a certain element and return a list of the result remove the ele mentioned in the funct.
•	Partition is used to return a  **tuple** that includes the separator (the first occurrence), the first half and the end half.

In [6]:
## returns list
s.split('e')

['h', 'llo']

In [0]:
s.partition('e')

('h', 'e', 'llo')

In [2]:
#partition will be done on the 1st occurance of the word mentioned in the funct
p='Hello woerled'
p.partition('e')

('H', 'e', 'llo woerled')

In [0]:
s

'hello'

# Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [0]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [10]:
##  list is mutable so index 0 is replaced
my_list = ['A string',23,100.232,'o']
my_list[0]='sudh'
my_list

['sudh', 23, 100.232, 'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [0]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [0]:
my_list = ['one','two','three',4,5]

In [0]:
# Grab element at index 0
my_list[0]

'one'

In [11]:
# Grab index 1 and everything past it
my_list[1:]
my_list+'sudh'

TypeError: ignored

In [12]:
## concatenation addes the ele in the end of the list  anfd the data type of both should be same
my_list+['sudh']

['sudh', 23, 100.232, 'o', 'sudh']

In [0]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use "+" to concatenate lists, just like we did for Strings.

In [0]:
my_list + ['new item',5]

['one', 'two', 'three', 4, 5, 'new item', 5]

Note: This doesn't actually change the original list!

In [0]:
my_list

['one', 'two', 'three', 4, 5]

In this case, you have to reassign the list to make the permanent change.

In [0]:
# Reassign
my_list = my_list + ['add new item permanently']

In [0]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [0]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [0]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

## Basic List Methods

If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

a. They have no fixed size (which means we need not to specify how big the list will be)
b. They have no fixed type constraint 

Let's go ahead and explore some more special methods for lists:

In [0]:
# Create a new list
l = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

### **concatenation will add the list at the last index, if it is s nested list it will unravel the 1st list hirerarchy only, In append it will add the the nested list as it is at the end of the list**

In [0]:
# Append
l.append('append me!')

In [16]:
# Show
l

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [17]:
# Pop off the 0 indexed item
l.pop(0)

1

In [18]:
# Show
l

[2, 3, 'append me!']

In [0]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [20]:
popped_item

'append me!'

In [0]:
# Show remaining list
l

[2, 3]

Note that lists indexing will return an error if there is no element at that index. For example:

In [21]:
l[100]

IndexError: ignored

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [0]:
new_list = ['a','e','x','b','c']

In [37]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [0]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [44]:
new_list

['c', 'b', 'x', 'e', 'a']

In [0]:
 ##but [::-1] will not permanently reverse the list, this technique will reverse permanently only when 
#there [::-1] is reassigned to the old list then only the old list will be overwridden with the reversed one permanently

In [54]:
new_list=new_list[::-1]
new_list

['c', 'b', 'x', 'e', 'a']

**sort will not work for list data set, will only work on strings and int or on single data type and not data collection**

In [0]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [56]:
new_list

['a', 'b', 'c', 'e', 'x']

In [0]:
p=[1,2,3,5,6,'a','n','m','b']

In [59]:
p.sort()

TypeError: ignored

In [62]:
p1=[1,5,8,9,6]
p1.sort()
p1

[1, 5, 6, 8, 9]

In [68]:
## descending
p1=[1,5,8,9,6]          
p1.sort(reverse=True)
p1

[9, 8, 6, 5, 1]

In [66]:
p2=["panna","amma"]       #1st alphabet 
p2.sort()
p2

['amma', 'panna']

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [0]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [71]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [0]:
matrix[2][1]

8

We can re-use indexing to grab elements, but now there are two levels for the index. 

a. The items in the matrix object
b. The items inside the list

In [0]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [0]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# List Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 

Before we try to understand list comprehensions completely we need to understand "for" loops. 

So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

Here are few of oue examples which helps you to understand list comprehensions.

In [72]:
l=[]
for i in matrix:
  l.append(i[1])
l

[2, 5, 8]

In [0]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [82]:
first_col

[1, 4, 7]

In [87]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
## in 2 Fors sequence of code it executes from right to left, (check condition,data then result)
## to extract from matrix and get list
a=[[1,2,3],[2,3,4]]
l1 = [i for row in a for i in row]
l1

[1, 2, 3, 2, 3, 4]

In [79]:
l=[]
k=[]
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
matrix=[a,b,c]
for i in matrix:
  l.append(i[0])
  k.append(i[1])
print(l,k)

[1, 4, 7] [2, 5, 8]

In [79]:
## extract 2 ele at a time
[(i[0],i[1]) for i in matrix]

[(1, 2), (4, 5), (7, 8)]

In [78]:
first_col = [row[1]**2 for row in matrix]
first_col

[4, 25, 64]

# Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

In [0]:
l = [1,2,3]

## append

Definitely, You have used this method by now, which merely appends an element to the end of a list:

In [10]:
l.append(4)

l

[1, 2, 3, 4]

## count
We discussed this during the methods lectures, but here it is again. count() takes in an element and returns the number of times it occures in your list:

In [0]:
l.count(10)

0

In [0]:
l.count(2)

1

## extend
Many times people find the difference between extend and append to be unclear. So note that,

**append: Appends object at end**

In [0]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

**extend: extends list by appending elements from the iterable**

In [5]:
x = [1, 2, 3]
x.extend([8,9,'hgf'])
print(x)

[1, 2, 3, 8, 9, 'hgf']

Note how extend append each element in that iterable. That is the key difference.

In [7]:
x = [1, 2, 3]
x.extend([8,9,'hgf',[5,6,7]])
print(x)

[1, 2, 3, 8, 9, 'hgf', [5, 6, 7]]

**### Extend and concatenate work in the same way as it will unravel 1st level list and rest of the nested listed list as it is**

## index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [24]:
##
l.append('append me!')
l.append(4)
l.index('append me!')

4

In [14]:
l

[1, 2, 3, 4, 'append me!', 'append me!', 4]

In [15]:
l.index(12)

ValueError: ignored

**## if there r same ele many times it will give the index of only the 1st ele. to find the index of rest of the elements use for loop**

In [16]:

l.index('append me!')

4

In [26]:
l

[1, 2, 3, 4, 'append me!', 'append me!', 4, 'append me!', 4]

In [58]:
##use for loop to get all indices
## use range to link data set with range (as range works as indices for ans)
## use if conddition to check wheter the required data is present in that index

for i in range(0,len(l)-1,1):
  if l[i] == ('append me!'): 
    print (list([i]),end=" ")

[4] [5] [7]

In [59]:
for i in range(0,len(l)-1):    ###try
  if l[i] == ('append me!'): 
    print(l[i])
  else:
    print('false1')
else:
  print("false 2")

false1
false1
false1
false1
append me!
append me!
false1
append me!
false 2

## insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [70]:
l

[1, 2, 3, 4]

In [78]:
# Place a letter at the index 2
l.insert(100,'inserted')
l

[1, 2, 3, 4, 'inserted']

In [0]:
l[100]

IndexError: list index out of range

## pop
You most likely have already seen pop(), which allows us to "pop" off the last element of a list.

In [0]:
ele = l.pop(1)

In [0]:
l

[1, 'inserted', 3]

In [0]:
ele

4

## remove
The remove() method removes the first occurrence of a value. For example:

In [0]:
l

[1, 2, 'inserted', 3]

In [0]:
l.remove('inserted')

In [0]:
l

[1, 2, 3]

In [0]:
l = [1,2,3,4,3]

In [0]:
l.remove(3)

In [0]:
l

[1, 2, 4, 3]

## reverse
As the name suggests, reverse() helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [0]:
l.reverse()

In [0]:
l

[3, 4, 2, 1]

## sort
sort will sort your list in place:

In [0]:
l

[3, 4, 2, 1]

In [0]:
l.sort()

In [0]:
l

[1, 2, 3, 4]

## Mutable/ manipulate by replacing
list is mutable data structure at any index

In [0]:
p=[1,2,3,5,6,"panna"]
p

[1, 2, 3, 5, 6, 'panna']

In [0]:
p[0]="kanna"

In [0]:
p                ## here 1 is permanently replaced with string" kanna"

['kanna', 2, 3, 5, 6, 'panna']